# IDE and Editor folders
.idea/
.vscode/

# Python files and caches
*.py[co]
*.mo
__pycache__/
.python-version

# Temporary/system files
*~
*.swp
.fuse_hidden*

# SQLite database
*.sqlite3

# UWSGI and server artifacts
dmoj-site.pid
dmoj-site.sock
uwsgi.ini
tmp_uwsgi.ini

# Local settings and custom configs
dmoj/local_settings.py
local_urls.py
restart.sh

# Log files and temporary outputs
bridge_log.txt
celerybeat-schedule.*
tmp.sh
log/

# Backup files and generated data
backup*.json
VOJ_*problems.json
vo21.json
tmp.json
language_voj.json
db.json

# Static & compiled assets
/static
sass_processed/
*.sql
node_modules/
_mytempfile/

# Custom scripts
custom_script_*

# Judge-specific fixtures
judge/fixtures/fixed*
judge/fixtures/voj_*
judge/fixtures/VOJ_*

# Websocket configuration
websocket/config.js

# NGINX templates
nginx_template.conf

# Martor editor customization
martor/
resources/martor-description.css
resources/select2-dmoj.css
resources/style.css
resources/vars.scss

# Theme and dark resources
resources/dark
